# Environment folder
*/tabman-venv/

# Data folder
data/

# Environment Variables
*/.env

# Python pycache
*/__pycache__/
**/__pycache__/
tabman.egg-info/*

# Test files
.pytest_cache

# Pypi files
**/build/
**/dist/

# Ignore gui files
**/gui/

# Web Dev Files
**/node_modules/
**/package-lock.json
**/package.json
**/public/

# Ignore the web tabman folder temporarily
web_tabman/